<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="stats">
        <%= render "shared/stats" %>
      </section>
    </aside>
    <div class="col-md-8">
      <div class="form-group">
        <div class="col-lg-10 center">
          <% if !admin_check? %>
            <%= link_to t("admin_category"), categories_path , class: "btn btn-lg btn-primary" %>
            <%= link_to t("word_list"), words_path , class: "btn btn-lg btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h3><%= t "activity_name" %></h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1><%= t "title" %></h1>
  <h2><%= t "homepage_content" %></h2>
  <%= link_to t("sign_up_btn"), signup_path , class: "btn btn-lg btn-primary" %>
</div>
<% end %>
