<%= form_for [:admin, @word] do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.label :word %>
  <%= f.text_field :content, class: "form-control"%>

  <div class="form-group">
    <h4><%= t "admin_category" %></h4>
    <%= f.select :category_id, options_from_collection_for_select(@categories, "id",
      "name", params[:category_id]), class: "form-control" %>
  </div>
  <div id="answers">
    <%= f.fields_for :answers do |answer_form| %>
      <%= render "answer_form", f: answer_form  %>
    <% end %>
  </div>

  <%= f.submit t("save"), class: " submit-word btn btn-primary pull-right" %>
<% end %>
