<% provide :title, t("word") %>
<h1><%= t "word_list" %></h1>
<div class="row">
  <%= link_to t("categories_new"), new_admin_word_path , class: "btn btn-success button" %>
</div>
<br>
<% if @words %>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th><%= t "id" %></th>
        <th><%= t "word" %></th>
        <th><%= t "answer" %></th>
        <th><%= t "status" %></th>
      </tr>
    </thead>
    <tbody id="words">
      <%= render @words %>
    </tbody>
  </table>
  <%= will_paginate %>
<% end %>
<div class="row">
<h3><%= t "import_csv_title" %></h3>
  <%= form_tag admin_imports_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag t("import_csv") %>
  <% end %>
</div>
